<div class="page-wrapper">
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/icon/logo.png" alt="Cool Admin" />
      </a>
    </div>
    <app-football-club></app-football-club>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" action="" method="POST">
              <input [(ngModel)]="search" class="au-input au-input--xl" type="text" name="search" placeholder="Search for club or country" />
              <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER DESKTOP-->
    <app-football-players [search]="search"></app-football-players> <!-- Передача данных в app-football-players-->
    <!-- END PAGE CONTAINER-->
  </div>

</div>
